.related-posts-container .related-post-item{
    width: 90%;
    height: 300px;
    margin: auto;
    background: #fff;
    margin-bottom: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 4px -1px 25px 0px rgba(0,0,0,0.47);
    -moz-box-shadow: 4px -1px 25px 0px rgba(0,0,0,0.47);
    box-shadow: 4px -1px 25px 0px rgba(0,0,0,0.47);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.related-post-item a{
    text-decoration: none !important;
}
.related-post h2{
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #333;
    text-decoration: none;
}
.related-post p{
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #333;
    text-decoration: none;
}
.related-post{
    padding: 10px;
    text-decoration: none;
}
.related-post-meta {
    /* display: flex;
    justify-content: space-between; */
    font-size: 12px;
    border-top: 1px solid #eee;
    padding: 10px;
}
.related-post-date{
    font-size: 12px;
}
.related-post-author{
    display: flex;
    align-items: center;

}
.related-post-author 
.related-author-img{
    width: 32px !important;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
}
/* .related-posts-container{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    justify-content: space-between;
}
.related-posts-container .related-post-item{
    width: 100%;
    
    background: #fff;
    margin-bottom: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 4px -1px 25px 0px rgba(0,0,0,0.47);
    -moz-box-shadow: 4px -1px 25px 0px rgba(0,0,0,0.47);
    box-shadow: 4px -1px 25px 0px rgba(0,0,0,0.47);
    
}
.related-posts-container .related-post-item > a{
    display: flex;
    text-decoration: none !important;
    align-items: center;
}
.related-post-image{
    width: 15%;
    padding: 10px;
}
.related-post{
    padding: 10px;
    width: 85%;
    text-decoration: none;
}
.related-post h2{
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #333;
    text-decoration: none;
}
.related-post p{
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #333;
    text-decoration: none;
}
.related-post-meta {
    display: flex;
    justify-content: space-between;
}
    */
.related-post-item img{
    width: 100%;
    height: 120px;
    object-fit: cover;
} 
